name: Despliegue en testing con rol
on:
   push:
     branches: [ develop ]
jobs:
  deploy:
    name: Deploy
    environment:
      name: "test"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3    
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          role-to-assume: arn:aws:iam::975050277813:role/ROL-GITHUB-OIDC
          aws-region: us-east-1
          role-session-name: gorditou2
      #- uses: hashicorp/setup-terraform@v2
      #  name: Configure Terraform
      #  with:
      #    terraform_version: 1.1.4
      #- name: Initialize the Terraform
      #  run: |
      #    terraform init -backend-config="encrypt=true" -backend-config="bucket=tarrito-charmander-cb-tf-test" -backend-config="key=state/terraform.tfstate" -backend-config="region=us-east-1" -backend-config="token=${{ env.AWS_SESSION_TOKEN }}"
      #- name: Select Workspace
      #  run: |
      #    terraform workspace select test || terraform workspace new test
      #    terraform workspace list
      #- name: Terraform Validate
      #  run: |
      #    terraform state pull
      #    terraform fmt
      #    terraform validate
      #- name: Terraform Plan
      #   run:  terraform plan
      # - name: Terraform Apply 
      #  run: terraform apply -auto-approve
      #- name: Validate Creation/Changes
      #  run: terraform state list